.wg-card-post {
    position: relative;
    // width: 100%;
    width: 500px;
    height: auto;
    // background: $color-white-opacity;
    // box-shadow: $shadow-3;
    margin: 15px;

    &__button-close {
        position: absolute;
        right: 0;
    }

    &__button-menu {
        position: absolute;
        right: 14px;
        margin-top: 4px;
    }

    &__button-menu-bot {
        background: $color-white-opacity;
        position: relative;
        padding: 12px 20px;
        overflow: hidden;
    }

    &__button-showdesc {
        float: right;
    }

    &__photo {
        color: rgba($color-white, 0.3);
        background: $color-white-opacity;
        font-size: 94px;
        overflow: hidden;
        height: 235px;
        display: flex;
        justify-content: center;


        &>i {
            line-height: 152px;
        }
    }

    &__info {
        color: rgba($color-white, 0.5);
        background: $color-white-opacity;
        font-size: 12px;
        padding: 20px;
        display: block;
    }

    &__title {
        color: $color-white;
        background: $color-white-opacity;
        font-size: 16px;
        font-weight: bold;
        padding: 20px 22px 0px 22px;
        display: block;
    }


    &__description {
        color: rgba($color-white, 0.8);
        background: $color-white-opacity;
        font-size: 14px;
        padding: 12px 22px 0px 22px;
        display: block;
        height: 58px;
        overflow: hidden;
        white-space: pre-line;
    }
}