.wg-captcha {
    &__blinde {
        background-color: rgba($color-black, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__menu {
        height: auto;
        width: 440px;
        background-color: $color-white;
        box-shadow: $shadow-2;
        position: relative;
        overflow: hidden;
        &-header {
            color: $color-black;
            font-size: 18px;
            font-weight: 400;
            margin: 25px 35px;
        }
        &-close {
            position: absolute;
            right: 34px;
            margin-top: -55px;
        }
        &-ef {
            margin: 0px 35px 33px 35px;
            overflow: hidden;
        }
        &-buttons {
            margin: 25px 31px;
            overflow: hidden;
        }
        &-captcha {
            margin: 60px 35px 0 35px;
            overflow: hidden;
            position: relative;
            height: 50px;
            &>img {
                height: 100%;
            }
        }
    }
}