.wg-captcha {
    margin: 14px 0 0 0;
    position: relative;
    float: left;
    &__blinde {
        background-color: rgba($color-black, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__menu {
        height: auto;
        width: 440px;
        background-color: $color-white;
        box-shadow: $shadow-2;
        position: relative;
        overflow: hidden;
        &-header {
            color: $color-black;
            font-size: 18px;
            font-weight: 400;
            margin: 25px 35px;
        }
        &-close {
            position: absolute;
            right: 28px;
            margin-top: -55px;
        }
        &-ef {
            margin: 0px 35px 33px 35px;
            overflow: hidden;
        }
        &-buttons {
            margin: 25px 31px;
            overflow: hidden;
        }
        &-captcha {
            margin: 60px 35px 0 35px;
            overflow: hidden;
            position: relative;
            height: 75px;
            &>img {
                height: 100%;
            }
        }
    }
    &__help {
        width: 100%;
        height: 18px;
        overflow: hidden;
        font-size: 12px;
        color: rgba( $color-reade, 0);
        line-height: 14px;
        transition-duration: 300ms;
        padding-top: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        &_active {
            transition-duration: 300ms;
            color: rgba( $color-reade, 0.9);
        }
        &_disabled {
            color: rgba( $color-reade, 0.4);
        }
    }
}