.wg-tabs-catalog {
    height: 73px;

    &__tab {
        background-color: rgba($color-white, 0.1);
        overflow: hidden;
    }

    &__img {
        height: 60px;
        float: left;
    }

    &__title {
        float: left;
        padding: 0px 30px;
        line-height: 60px;

    }

    & .ui-tabs__tab {
        padding: 0px 0px;
        margin: 0px 29px 5px 0px;
    }

    & .ui-tabs__tab {
        &:hover {
            background-color: rgba($color-white, 0);

            & .wg-tabs-catalog__tab {
                background-color: rgba($color-white, 0.2);
            }
        }

        &:active {
            background-color: rgba($color-white, 0);

            & .wg-tabs-catalog__tab {
                background-color: rgba($color-white, 0.4);
            }
        }

    }

    & .ui-tabs__tab_active::after {
        z-index: 2;

    }


}