.wg-table {
    &__td_dete {
        font-size: 10px;
    }

    &__td_name {
        color: rgba($color-white, 0.5);
    }

    &__td_left {
        text-align: left;
    }

    &__td_desc {
        text-align: left;
    }

    &__buttons {
        float: right;
        height: 42px;
        min-width: 86px;
    }

}