.lt-main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #434e62;
    //   background: linear-gradient(
    //     to top left,
    //     rgb(110, 32, 58) 20%,
    //     rgb(48, 63, 146) 50%,
    //     rgb(82, 12, 114) 80%
    //   );
    //   background: linear-gradient(
    //     to top left,
    //     #6e203a24 20%,
    //     #303f9257 50%,
    //     #520c7230 80%
    //   );
}

.lt-main__menu {
    height: 100%;
    width: 240px;
    background-color: #2b3340;
    box-shadow: $shadow-4;
    z-index: 4;
    overflow: hidden;
    overflow-y: auto;

    &-profile {
        height: auto;
        width: 100%;
        border-bottom: 3px solid $color-white;
        text-align: center;
        margin-top: 25px;
    }

    &-avatar {
        color: $color-white;
        font-size: 42px;
        border-radius: 50%;
        overflow: hidden;
        height: 80px;
        width: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        border: 2px solid $color-white;

        &>img {
            height: 100%;
            text-align: center;
        }

        &>i {
            line-height: 72px;
        }
    }

    &-nickname {
        color: $color-white;
        font-size: 19px;
        margin-top: 18px;
        font-weight: bold;
    }

    &-buttons {
        margin: 20px 0 20px;
        overflow: hidden;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    &-list {
        list-style: none;
        margin: 20px 0 19px;
        padding-left: 0;
        color: $color-white;
    }

    &-item {
        padding: 8px 20px;
        display: block;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $color-white;

        &:first-letter {
            text-transform: uppercase;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba($color-white, 0.2);
            color: $color-white;
            text-decoration: none;
        }

        &:active {
            background-color: rgba($color-white, 0.4);
            color: $color-white;
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &.router-link-active {
            background-color: rgba($color-white, 0.2);
            color: $color-white;
            text-decoration: none;
        }
    }
}

.lt-main__content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: rgba(48, 48, 48, 0.719);
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.lt-main__cards {
    height: auto;
    max-width: 420px;
}

@media (max-width: 990px) {
    .lt-main__menu {
        display: none;
    }
}