// элементы
.ui-ef-container {
    width: 100%;
    height: auto;
    transition-duration: 300ms;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 2px auto;

    &__caption {
        width: 100%;
        height: 30px;
        font-size: 16px;
        color: rgba($color-black, 0.9);
        position: absolute;
        transition-duration: 300ms;
        line-height: 75px; //90px;
        display: inline-block;
        white-space: nowrap;

        &_active {
            font-size: 13px;
            line-height: 32px; //45px;
            color: $color-black;
            transition-duration: 300ms;
        }

        &_completed {
            font-size: 13px;
            line-height: 32px; //45px;
            transition-duration: 300ms;
            display: inline-block;
            white-space: nowrap;
        }

        &_disabled {
            color: rgba($color-black, 0.4);
        }
    }

    &__input {
        width: 100%;
        min-height: 30px;
        height: auto;
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid rgba($color-black, 0.9);
        color: $color-black;
        font-size: 16px;
        padding: 0;
        margin-top: 22px; //30
        transition-duration: 300ms;
        white-space: nowrap;
        overflow: hidden;
        overflow-y: auto;
        text-overflow: ellipsis;
        background-color: transparent;

        &:invalid {
            box-shadow: none;
        }

        &:-moz-submit-invalid {
            box-shadow: none;
        }

        &:-moz-ui-invalid {
            box-shadow: none;
        }

        &:focus {
            outline: none;
        }

        &_active {
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            transition-duration: 300ms;
        }

        &_disabled {
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 1px solid rgba($color-black, 0.4);
            color: rgba($color-black, 0.4);
        }
    }

    &__border {
        content: "";
        top: -1px; //60px;
        left: 0;
        position: relative;
        width: 0px;
        height: 3px;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: rgba($color-black, 0.9);
        transition-duration: 300ms;

        &_active {
            background-color: $color-black;
            width: 100%;
            transition-duration: 300ms;
        }

        &_disabled {
            background-color: rgba($color-black, 0.4);
        }
    }

    &__help {
        width: 100%;
        height: 18px;
        overflow: hidden;
        font-size: 12px;
        color: rgba($color-reade, 0);
        line-height: 14px;
        transition-duration: 300ms;
        padding-top: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_active {
            transition-duration: 300ms;
            color: rgba($color-reade, 0.9);
        }

        &_disabled {
            color: rgba($color-reade, 0.4);
        }
    }

    &__icon {
        position: absolute;
        right: 0px;
        bottom: 6px;
        height: 26px;
        width: 26px;
        text-align: center;
        font-size: 18px;
        line-height: 27px;

        &_active {
            color: $color-black;
        }

        &_disabled {
            color: rgba($color-black, 0.4);
        }
    }
}

.ui-ef-container_white {
    &>.ui-ef-container__caption {
        color: rgba($color-white, 0.9);
    }

    &>.ui-ef-container__caption_active {
        color: $color-white;
    }

    &>.ui-ef-container__caption_disabled {
        color: rgba($color-white, 0.4);
    }

    &>.ui-ef-container__input {
        border-bottom: 1px solid rgba($color-white, 0.9);
        color: $color-white;
    }

    &>.ui-ef-container__input_disabled {
        border-bottom: 1px solid rgba($color-white, 0.4);
        color: rgba($color-white, 0.4);
    }

    &>.ui-ef-container__border {
        background-color: rgba($color-white, 0.9);
    }

    &>.ui-ef-container__border_active {
        background-color: $color-white;
    }

    &>.ui-ef-container__border_disabled {
        background-color: rgba($color-white, 0.4);
    }
    &>.ui-ef-container__icon {
        color: $color-white;
    }
    &>.ui-ef-container__icon_active {
        color: $color-white;
    }

    &>.ui-ef-container__icon_disabled {
        color: rgba($color-white, 0.4);
    }
}