// элементы
.ui-ef-text {
    width: 100%;
    height: auto;
    transition-duration: 300ms;
    position: relative;
    cursor: pointer;
    float: left;
    margin: 2px auto;
    &__caption {
        width: 100%;
        height: 30px;
        font-size: 16px;
        color: rgba($color-black, 0.9);
        position: absolute;
        transition-duration: 300ms;
        line-height: 75px; //90px;
        display: inline-block;
        white-space: nowrap;
        &_active {
            font-size: 13px;
            line-height: 32px; //45px;
            color: $color-black;
            transition-duration: 300ms;
        }
        &_completed {
            font-size: 13px;
            line-height: 32px; //45px;
            transition-duration: 300ms;
            display: inline-block;
            white-space: nowrap;
        }
        &_disabled {
            color: rgba($color-black, 0.4);
        }
    }
    &__input {
        width: 100%;
        height: 30px;
        border: 0;
        border-radius: 0px;
        border-bottom: 1px solid rgba($color-black, 0.9);
        color: $color-black;
        font-size: 16px;
        padding: 0;
        margin-top: 20px; //30
        transition-duration: 300ms;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: transparent;
        &:invalid {
            box-shadow: none;
        }
        &:-moz-submit-invalid {
            box-shadow: none;
        }
        &:-moz-ui-invalid {
            box-shadow: none;
        }
        &:focus {
            outline: none;
        }
        &_active {
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            transition-duration: 300ms;
        }
        &_disabled {
            background-color: rgba(255, 255, 255, 0);
            border-bottom: 1px solid rgba($color-black, 0.4);
            color: rgba($color-black, 0.4);
        }
    }
    &__border {
        content: "";
        top: 50px; //60px;
        left: 0;
        position: absolute;
        width: 0px;
        height: 3px;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: rgba($color-black, 0.9);
        transition-duration: 300ms;
        &_active {
            background-color: $color-black;
            width: 100%;
            transition-duration: 300ms;
        }
        &_disabled {
            background-color: rgba($color-black, 0.4);
        }
    }
    &__help {
        width: 100%;
        height: 18px;
        overflow: hidden;
        font-size: 12px;
        color: rgba( $color-reade, 0);
        line-height: 14px;
        transition-duration: 300ms;
        padding-top: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        &_active {
            transition-duration: 300ms;
            color: rgba( $color-reade, 0.9);
        }
        &_disabled {
            color: rgba( $color-reade, 0.4);
        }
    }
    &__icon {
        position: absolute;
        right: 0px;
        top: 24px;
        height: 26px;
        width: 26px;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        &_active {
            color: $color-black;
        }
        &_disabled {
            color: rgba($color-black, 0.4);
        }
    }
}

.ui-ef-text_white {
    &>.ui-ef-text__caption {
        color: rgba($color-white, 0.9);
    }
    &>.ui-ef-text__caption_active {
        color: $color-white;
    }
    &>.ui-ef-text__caption_disabled {
        color: rgba($color-white, 0.4);
    }
    &>.ui-ef-text__input {
        border-bottom: 1px solid rgba($color-white, 0.9);
        color: $color-white;
    }
    &>.ui-ef-text__input_disabled {
        border-bottom: 1px solid rgba($color-white, 0.4);
        color: rgba($color-white, 0.4);
    }
    &>.ui-ef-text__border {
        background-color: rgba($color-white, 0.9);
    }
    &>.ui-ef-text__border_active {
        background-color: $color-white;
    }
    &>.ui-ef-text__border_disabled {
        background-color: rgba($color-white, 0.4);
    }
}