.ui-ef-search {
  background: rgba($color-white, 0);
  border: 1px solid $color-black;
  max-width: 680px;
  margin: 0 auto;
  height: 42px;
  margin-top: 11px;
  border-radius: 2px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  &__icon {
    height: 100%;
    line-height: 42px;
    float: left;
    width: 52px;
    text-align: center;
    color: rgba($color-black, 0.4) &_active {
      color: $color-black;
    }
  }
  &__input {
    height: 42px;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: transparent;
    width: calc(100% - 52px);
    outline: none;
    padding-right: 32px;
    font-size: 16px;
    color: $color-black;
    font-weight: 400;
  }
  &__menu {
    background-color: $color-white;
    box-shadow: $shadow-1;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    max-height: 250px;
    position: absolute;
    width: 100%;
    top: 54px;
    z-index: 100;
  }
}
