.ui-ef-select {
    position: relative;
    width: 100%;
    float: left;

    &__cleaner {
        padding: 5px 18px !important;
        border-bottom: 1px dashed #bebebe !important;
        color: $color-black !important;
        margin: 0px 0px 6px !important;

        &>.fa-times-thin {
            font-size: 36px;
            display: inline-block;
        }

        &-option {
            margin-left: 7px;
            display: inline-block;
            position: absolute;
        }
    }

    &__menu {
        top: 63px;
        margin: 0;
        border: 0;
        padding: 0;
        max-height: 200px;
        width: 100%;
        color: $color-black;
        font-size: 14px;
        position: absolute;
        background-color: $color-white;
        display: block;
        float: right;
        z-index: 100;
        box-shadow: $shadow-1;
        left: 1px;
        overflow-y: none;
        overflow-x: auto;

        &-enter,
        &-leave-to {
            max-height: 0px;
        }

        &-enter-active,
        &-leave-active {
            transition: max-height 0.5s ease;
        }

        &-enter-to,
        &-leave {
            max-height: 200px;
        }
    }

    &__blind {
        background-color: rgba(256, 256, 256, 0) !important;
    }

    &__option {
        position: relative;
        border: 0;
        padding: 0px 30px;
        margin: 0;
        list-style-type: none;
        cursor: pointer;
        height: 40px;
        width: auto;
        font-size: 14px;
        line-height: 38px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #202020;

        &:first-letter {
            text-transform: uppercase;
        }

        &:hover {
            background-color: #f3f3f3;
        }

        &_disabled {
            color: rgba($color-black, 0.4);
            cursor: auto;

            &:hover {
                background-color: rgba($color-white, 0);
            }
        }
    }

    &__group {
        position: relative;
        border: 0;
        padding: 0 20px;
        margin: 0;
        list-style-type: none;
        height: 40px;
        width: auto;
        font-size: 15px;
        line-height: 41px;
        color: rgba($color-black, 0.4);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }

    &__check {
        color: $color-black;
        font-weight: 600;
        height: 100%;
        margin-left: 5px;
        width: 20px;
    }

    &__checkbox {
        opacity: 0;
        position: absolute;
    }

    &__arrow {
        position: absolute;
        background-color: rgba($color-white, 0);
        float: right;
        right: 0px;
        top: 25px;
        font-size: 22px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 22px;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);

        &_disabled {
            color: rgba($color-black, 0.4);
            cursor: auto;
        }

        &-enter {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        &-enter-active {
            transition: transform 0.8s ease-in-out;
        }

        &-enter-to {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
    }

    &__arrow_transit {
        position: absolute;
        background-color: rgba($color-white, 0);
        float: right;
        right: 0px;
        top: 25px;
        font-size: 22px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 22px;
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);

        &-enter {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }

        &-enter-active {
            transition: transform 0.8s ease-in-out;
        }

        &-enter-to {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }
}

.ui-ef-select_white {
    &>.ui-ef-text {
        &>.ui-ef-text__caption {
            color: rgba($color-white, 0.9);
        }

        &>.ui-ef-text__caption_active {
            color: $color-white;
        }

        &>.ui-ef-text__caption_disabled {
            color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__input {
            border-bottom: 1px solid rgba($color-white, 0.9);
            color: $color-white;
        }

        &>.ui-ef-text__input_disabled {
            border-bottom: 1px solid rgba($color-white, 0.4);
            color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__border {
            background-color: rgba($color-white, 0.9);
        }

        &>.ui-ef-text__border_active {
            background-color: $color-white;
        }

        &>.ui-ef-text__border_disabled {
            background-color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__icon {
            color: $color-white;
        }

        &>.ui-ef-text__icon_active {
            color: $color-white;
        }

        &>.ui-ef-text__icon_disabled {
            color: rgba($color-white, 0.4);
        }
    }

    &>.ui-ef-select__arrow {
        color: $color-white;
    }

    &>.ui-ef-select__arrow_disabled {
        color: rgba($color-white, 0.4);
    }

    &>.ui-ef-select__arrow_transit {
        color: $color-white;
    }
}