.ui-blind {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #111111cc;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
