.wg-select-location {
    overflow: hidden;
    float: left;
    width: 100%;

    &__blinde {
        background-color: rgba($color-black, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    &__menu {
        height: 460px;
        width: 650px;
        background-color: $color-white;
        box-shadow: $shadow-2;
        position: relative;
        overflow: hidden;

        &-header {
            color: $color-black;
            font-size: 18px;
            font-weight: 400;
            margin: 25px 35px;
        }

        &-chipheader {
            color: $color-black;
            font-size: 15px;
            font-weight: 400;
            margin: 30px 35px 0px 35px;
        }

        &-chipbuttons {
            margin: 25px 29px;
            overflow: hidden;
            overflow-y: auto;
            max-height: 205px;
            bottom: 0px;
            position: absolute;
        }

        &-close {
            position: absolute;
            right: 34px;
            margin-top: -55px;
        }

        &-ef {
            margin: 40px 35px;
            overflow: hidden;

        }

        &-chipsies {
            margin: 25px 35px;
            overflow: hidden;
            overflow-y: auto;
            max-height: 152px;
        }

        &-buttons {
            margin: 28px 28px;
            overflow: hidden;
            bottom: 0;
            position: absolute;
        }
    }
}

.wg-select-location_white {
    &>.ui-ef-text {
        &>.ui-ef-text__caption {
            color: rgba($color-white, 0.9);
        }

        &>.ui-ef-text__caption_active {
            color: $color-white;
        }

        &>.ui-ef-text__caption_disabled {
            color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__input {
            border-bottom: 1px solid rgba($color-white, 0.9);
            color: $color-white;
        }

        &>.ui-ef-text__input_disabled {
            border-bottom: 1px solid rgba($color-white, 0.4);
            color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__border {
            background-color: rgba($color-white, 0.9);
        }

        &>.ui-ef-text__border_active {
            background-color: $color-white;
        }

        &>.ui-ef-text__border_disabled {
            background-color: rgba($color-white, 0.4);
        }

        &>.ui-ef-text__icon {
            color: $color-white;
        }

        &>.ui-ef-text__icon_active {
            color: $color-white;
        }

        &>.ui-ef-text__icon_disabled {
            color: rgba($color-white, 0.4);
        }
    }
}