.ui-animation-display {

    &_enter_left,
    &_leave-to_left {
      transform: translateX(-100%);
    }

    &_enter-act_left,
    &_leave-act_left {
        transition-duration: 300ms;
    }

    &_enter-to_left,
    &_leave_left {
      transform: translateX(0%);
    }

    &_enter_margin-left,
    &_leave-to_margin-left {
      transform: translateX(-100%);
    }

    &_enter-act_margin-left,
    &_leave-act_margin-left {
        transition-duration: 300ms;
    }

    &_enter-to_margin-left,
    &_leave_margin-left {
      transform: translateX(0%);
    }

    &_enter_right,
    &_leave-to_right {
        transform: translateX(100%);
    }

    &_enter-act_right,
    &_leave-act_right {
        transition-duration: 300ms;
    }

    &_enter-to_right,
    &_leave_right {
        transform: translateX(0%);
    }

    &_enter_margin-right,
    &_leave-to_margin-right {
        transform: translateX(100%);
    }

    &_enter-act_margin-right,
    &_leave-act_margin-right {
        transition-duration: 300ms;
    }

    &_enter-to_margin-right,
    &_leave_margin-right {
        transform: translateX(0%);
    }




    &_enter_top,
    &_leave-to_top {
      transform: translateY(-100%);
    }

    &_enter-act_top,
    &_leave-act_top {
        transition-duration: 300ms;
    }

    &_enter-to_top,
    &_leave_top {
      transform: translateY(0%);
    }

    &_enter_bottom,
    &_leave-to_bottom {
      transform: translateY(100%);
    }

    &_enter-act_bottom,
    &_leave-act_bottom {
        transition-duration: 300ms;
    }

    &_enter-to_bottom,
    &_leave_bottom {
      transform: translateY(0%);
    }

    &__content {
        display: flex;
        height: 100%;
    }

    &_enter_opacity,
    &_leave-to_opacity {
        opacity: 0;
    }

    &_enter-act_opacity,
    &_leave-act_opacity {
        transition-property: opacity;
        transition-duration: 300ms;
    }

    &_enter-to_opacity,
    &_leave_opacity {
        opacity: 1;
    }

    &_enter_none,
    &_leave-to_none {
        opacity: 1;
    }

    &_enter-act_none,
    &_leave-act_none {}

    &_enter-to_none,
    &_leave_none {
        opacity: 1;
    }
}