.ui-table {
    width: 100%;
    border-spacing: 0 0;
    padding: 16px;

    &__header {
        color: rgba($color-white, 0.5);
        display: table-header-group;
        vertical-align: text-bottom;
    }

    &__body {
        color: rgba($color-white, 0.8);
        font-size: 13px;
        display: table-header-group;
        vertical-align: middle;
    }

    &__tr {
        text-align: center;
    }

    &__th {
        font-weight: 400;
        border-bottom: 0px solid rgba($color-black, 0);
        padding: 10px;
    }

    &__td {
        background-color: $color-black-opacity;
        padding: 10px;
    }

    &__span {
        border: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
    }
}

@media (max-width: 770px) {
    .ui-table {
        padding: 2px;
    }
}